<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnRisky="true"
         stopOnSkipped="true"
         stopOnWarning="true"
         stopOnDefect="true"
>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/unit</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>tests/functional</directory>
    </testsuite>
  </testsuites>

  <coverage processUncoveredFiles="true"
            ignoreDeprecatedCodeUnits="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>

    <exclude>
      <file>src/Framework/Assert/Functions.php</file>
      <file>src/Util/PHP/eval-stdin.php</file>
    </exclude>
  </coverage>

  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>
</phpunit>
